#!/bin/bash
# LOGS
# /var/log/cloud-init.log
# /var/log/cloud-init-output.log

# SCRIPT
# /var/lib/cloud/instance/scripts/part-001

# this is to make the script change on a new version
# {{ FACTORIO_IMAGE }}
# {{ GIT_HASH }}

# install uv
sudo snap install astral-uv --classic

# download the project
mkdir -p /kickstart/
cd /kickstart/
if [ -d factorio-iac ]; then
  git -C factorio-iac pull
else
  git clone https://github.com/NathanVaughn/factorio-iac
fi
cd factorio-iac

# load environment variables to .env file
cat > .env << EOL
FACTORIO_SERVER_PASSWORD={{ FACTORIO_SERVER_PASSWORD }}
B2_APPLICATION_KEY={{ B2_APPLICATION_KEY }}
B2_APPLICATION_KEY_ID={{ B2_APPLICATION_KEY_ID }}
EOL

# run the deploy script
uv sync
uv run pyinfra @local scripts/configure.py -y