# https://opensource.com/article/20/7/systemd-timers
[Unit]
Description=Factorio Backup Service
Wants=factorio_backup.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/docker run --rm -e B2_APPLICATION_KEY -e B2_APPLICATION_KEY_ID -v /factorio/:/factorio/ cr.nathanv.app/docker.io/backblazeit/b2:latest b2v4 sync --keep-days 30 --replace-newer /factorio/ b2://nathanv-private/backups/factorio/
EnvironmentFile=/factorio/factorio_backup.env

[Install]
WantedBy=default.target