# https://opensource.com/article/20/7/systemd-timers
[Unit]
Description=Factorio Backup Timer
Requires=factorio_backup.service

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target